<?xml version="1.0"?>
<plugin id="teneo.jpox" name="JPOX plug-ins" provider-name="Eclipse.EMFT.Teneo">
    <extension point="org.jpox.cache_level1">
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFWeakRefCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFWeakRefCache"/>
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFHardRefCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFHardRefCache"/>
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFNullCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFNullCache"/>
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFSoftRefCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFSoftRefCache"/>
    </extension>
    <extension point="org.jpox.store_mapping">
        <mapping java-type="java.util.List" mapping-class="org.eclipse.emf.teneo.jpox.elist.EListMapping"
                                            sco-wrapper="org.eclipse.emf.teneo.jpox.elist.EListWrapper"/>
        <mapping java-type="org.eclipse.emf.common.util.EList" mapping-class="org.eclipse.emf.teneo.jpox.elist.EListMapping"
                                            sco-wrapper="org.eclipse.emf.teneo.jpox.elist.EListWrapper"/>
        <mapping java-type="org.eclipse.emf.common.util.EMap" mapping-class="org.eclipse.emf.teneo.jpox.elist.EListMapping"
                                            sco-wrapper="org.eclipse.emf.teneo.jpox.elist.EListWrapper"/>
        <mapping java-type="org.eclipse.emf.ecore.util.FeatureMap" mapping-class="org.eclipse.emf.teneo.jpox.elist.FeatureMapMapping"
                                            sco-wrapper="org.eclipse.emf.teneo.jpox.elist.FeatureMapWrapper"/>                                            
        <mapping java-type="org.eclipse.emf.ecore.EObject" mapping-class="org.eclipse.emf.teneo.jpox.mapping.EObjectMapping"/>

        <mapping java-type="org.eclipse.emf.common.util.AbstractEnumerator" 
        		mapping-class="org.eclipse.emf.teneo.jpox.mapping.ENumMapping"/>

    </extension>
</plugin>
