<?xml version="1.0"?>
<?eclipse version="3.2"?>
<plugin id="teneo.jpox" name="JPOX plug-ins" provider-name="Eclipse.EMFT.Teneo">
    <extension point="org.jpox.cache_level1">
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFWeakRefCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFWeakRefCache"/>
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFHardRefCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFHardRefCache"/>
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFNullCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFNullCache"/>
	    <cache name="org.eclipse.emf.teneo.jpox.cache.EMFSoftRefCache" class-name="org.eclipse.emf.teneo.jpox.cache.EMFSoftRefCache"/>
    </extension>
</plugin>
