/* $Id: print.css,v 1.27 2008/03/17 16:18:49 mtaal Exp $ */

#banner, #footer, #leftcol, #breadcrumbs, .docs #toc, .docs .courtesylinks	{
	display: none;
	}
body.docs div.docs	{
	margin: 0 !important;
	border: none !important
	}