<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2009/07/06 13:23:39 mtaal Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://java.sun.com/xml/ns/persistence/orm"
            class="org.eclipse.emf.teneo.jpa.orm.OrmPackage"
            genModel="model/orm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="orm"
            class="org.eclipse.emf.teneo.jpa.orm.util.OrmResourceFactoryImpl"/>
   </extension>

</plugin>
