<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.3 2009/07/27 22:12:11 mtaal Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/teneo/samples/emf/schemaconstructs/documentroot"
            class="org.eclipse.emf.teneo.samples.emf.schemaconstructs.documentroot.DocumentrootPackage"
            genModel="src/org/eclipse/emf/teneo/samples/emf/schemaconstructs/documentroot/model/documentroot.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="documentroot"
            class="org.eclipse.emf.teneo.samples.emf.schemaconstructs.documentroot.util.DocumentrootResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bz398161 -->
      <package
            uri="http://www.eclipse.org/emf/teneo/samples/issues/bz398161"
            class="org.eclipse.emf.teneo.samples.issues.bz398161.Bz398161Package"
            genModel="src/org/eclipse/emf/teneo/samples/issues/bz398161/model/bz398161.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated bz398161 -->
      <parser
            type="bz398161"
            class="org.eclipse.emf.teneo.samples.issues.bz398161.util.Bz398161ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated inheritancemapping -->
      <package
            uri="http://www.eclipse.org/emf/teneo/samples/emf/annotations/inheritancemapping"
            class="org.eclipse.emf.teneo.samples.emf.annotations.inheritancemapping.InheritancemappingPackage"
            genModel="src/org/eclipse/emf/teneo/samples/emf/annotations/inheritancemapping/model/inheritancemapping.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated inheritancemapping -->
      <parser
            type="inheritancemapping"
            class="org.eclipse.emf.teneo.samples.emf.annotations.inheritancemapping.util.InheritancemappingResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Rental -->
      <package
            uri="http://www.eclipse.org/emf/teneo/rental"
            class="org.eclipse.emf.teneo.rental.RentalPackage"
            genModel="src/org/eclipse/emf/teneo/rental/model/Rental.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Rental -->
      <parser
            type="rental"
            class="org.eclipse.emf.teneo.rental.util.RentalResourceFactoryImpl"/>
   </extension>
</plugin>
