<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution0"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="Teneo"
               path="additions"
               id="org.eclipse.emf.teneo.eclipse.teneomenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.GenerateJDOAction"
               enablesFor="+"
               id="org.eclipse.emf.teneo.jpox.eclipse.generatejdo"
               label="Generate EMF - JDO/JPOX OR Mapping (joined-subclass)"
               menubarPath="org.eclipse.emf.teneo.eclipse.teneomenu/group1"
               tooltip="Select to generate a jdo 2.0 metadata file from the ecore model. Uses new-table inheritance mapping strategy.">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution1"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="Teneo"
               path="additions"
               id="org.eclipse.emf.teneo.eclipse.teneomenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.GenerateJDOActionSuperTable"
               enablesFor="+"
               id="org.eclipse.emf.teneo.jpox.eclipse.generatejdo"
               label="Generate EMF - JDO/JPOX OR Mapping (super-class)"
               menubarPath="org.eclipse.emf.teneo.eclipse.teneomenu/group1"
               tooltip="Select to generate a jdo 2.0 metadata file from the ecore model. Uses superclass-table inheritance mapping strategy.">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution2"
            nameFilter="*.ejdo"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="Teneo"
               path="additions"
               id="org.eclipse.emf.teneo.jpox.eclipse.teneomenu">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.OpenResource"
               enablesFor="1"
               id="org.eclipse.emf.teneo.jpox.eclipse.openResource"
               label="Open Resource"
               menubarPath="org.eclipse.emf.teneo.jpox.eclipse.teneomenu/group2"
               tooltip="Opens a resource using the specified editor">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution3"
            nameFilter="*.ejdo"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.jpox.eclipse.teneomenu"
               label="Teneo"
               path="additions">
            <separator name="group4"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.ImportXMI"
               enablesFor="1"
               id="org.eclipse.emf.teneo.jpox.eclipse.importXMI"
               label="Import from XMI"
               menubarPath="org.eclipse.emf.teneo.jpox.eclipse.teneomenu/group4"
               tooltip="Imports an XMI file into a datastore"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution4"
            nameFilter="*.ejdo"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.jpox.eclipse.teneomenu"
               label="Teneo"
               path="additions">
            <separator name="group4"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.ExportXMI"
               enablesFor="1"
               id="org.eclipse.emf.teneo.jpox.eclipse.exportXMI"
               label="Export to XMI"
               menubarPath="org.eclipse.emf.teneo.jpox.eclipse.teneomenu/group4"
               tooltip="Exports a complete datastore to xmi"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution5"
            nameFilter="*.ejdo"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.jpox.eclipse.teneomenu"
               label="Teneo"
               path="additions">
            <separator name="group3"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.ImportXML"
               enablesFor="1"
               id="org.eclipse.emf.teneo.jpox.eclipse.importXML"
               label="Import from XML"
               menubarPath="org.eclipse.emf.teneo.jpox.eclipse.teneomenu/group3"
               tooltip="Imports an XML file into a datastore"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.jpox.eclipse.contribution6"
            nameFilter="*.ejdo"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.jpox.eclipse.teneomenu"
               label="Teneo"
               path="additions">
            <separator name="group3"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.jpox.eclipse.ExportXML"
               enablesFor="1"
               id="org.eclipse.emf.teneo.jpox.eclipse.exportXML"
               label="Export to XML"
               menubarPath="org.eclipse.emf.teneo.jpox.eclipse.teneomenu/group3"
               tooltip="Exports a complete datastore to xml"/>
      </objectContribution>
   </extension>

</plugin>
