<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes">
      <?gmfgen generated="true"?>
      <fileTypes
         type="text"
         extension="mindmap_diagram">
      </fileTypes>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <?gmfgen generated="true"?>
      <parser
         type="mindmap_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/MindmapDiagramFile.gif"
         extensions="mindmap_diagram"
         default="true"
         class="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramEditor"
         matchingStrategy="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapMatchingStrategy"
         contributorClass="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="org.eclipse.gmf.examples.mindmap.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/MindmapDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapCreationWizard"
  	     id="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            adaptable="false"
            id="org.eclipse.gmf.examples.mindmap.diagram.LoadResource"
            objectClass="org.eclipse.gmf.examples.mindmap.diagram.edit.parts.MapEditPart">
         <action
               class="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapLoadResourceAction"
               enablesFor="1"
               id="org.eclipse.gmf.examples.mindmap.diagram.LoadResourceAction"
               label="%loadResourceActionLabel"
               menubarPath="additions">
         </action>
      </objectContribution>           
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <?gmfgen generated="true"?>
      <objectContribution
            id="org.eclipse.gmf.examples.mindmap.diagram.InitDiagram"
            nameFilter="*.mindmap"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.gmf.examples.mindmap.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="MindmapPresentation">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="MindmapPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="MindmapRender">
         <Priority name="Lowest"/>
         <ViewId id="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.contributionItemProviders">
      <?gmfgen generated="true"?>
      <contributionItemProvider
            class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContributionItemProvider"
            checkPluginLoaded="false">
         <Priority name="Low"/>
         <popupContribution class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramContextMenuProvider">
            <popupStructuredContributionCriteria objectClass="org.eclipse.gmf.examples.mindmap.diagram.edit.parts.TopicSubtopicsEditPart"/>
            <popupAction path="/editGroup" id="deleteFromModelAction"/>
            <popupPredefinedItem id="deleteFromDiagramAction" remove="true"/>
         </popupContribution>
      </contributionItemProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <?gmfgen generated="true"?>
      <initializer class="org.eclipse.gmf.examples.mindmap.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <?gmfgen generated="true"?>
      <page
            id="org.eclipse.gmf.examples.mindmap.diagram.general"
            name="%preference.page.title.org.eclipse.gmf.examples.mindmap.diagram.general"
            class="org.eclipse.gmf.examples.mindmap.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="org.eclipse.gmf.examples.mindmap.diagram.appearance"
            name="%preference.page.title.org.eclipse.gmf.examples.mindmap.diagram.appearance"
            category="org.eclipse.gmf.examples.mindmap.diagram.general"
            class="org.eclipse.gmf.examples.mindmap.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="org.eclipse.gmf.examples.mindmap.diagram.connections"
            name="%preference.page.title.org.eclipse.gmf.examples.mindmap.diagram.connections"
            category="org.eclipse.gmf.examples.mindmap.diagram.general"
            class="org.eclipse.gmf.examples.mindmap.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="org.eclipse.gmf.examples.mindmap.diagram.printing"
            name="%preference.page.title.org.eclipse.gmf.examples.mindmap.diagram.printing"
            category="org.eclipse.gmf.examples.mindmap.diagram.general"
            class="org.eclipse.gmf.examples.mindmap.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="org.eclipse.gmf.examples.mindmap.diagram.rulersAndGrid"
            name="%preference.page.title.org.eclipse.gmf.examples.mindmap.diagram.rulersAndGrid"
            category="org.eclipse.gmf.examples.mindmap.diagram.general"
            class="org.eclipse.gmf.examples.mindmap.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="org.eclipse.gmf.examples.mindmap.diagram.pathmaps"
            name="%preference.page.title.org.eclipse.gmf.examples.mindmap.diagram.pathmaps"
            category="org.eclipse.gmf.examples.mindmap.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="org.eclipse.gmf.examples.mindmap.diagram"
            labelProvider="org.eclipse.gmf.examples.mindmap.diagram.sheet.MindmapSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="org.eclipse.gmf.examples.mindmap.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="org.eclipse.gmf.examples.mindmap.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="org.eclipse.gmf.examples.mindmap.diagram.sheet.MindmapPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders">
      <?gmfgen generated="true"?>
      <viewProvider class="org.eclipse.gmf.examples.mindmap.diagram.providers.MindmapViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Mindmap"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints=""/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints=""/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <?gmfgen generated="true"?>
      <editpartProvider class="org.eclipse.gmf.examples.mindmap.diagram.providers.MindmapEditPartProvider">
         <Priority name="Lowest"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="org.eclipse.gmf.examples.mindmap.diagram.providers.MindmapModelingAssistantProvider">
         <Priority name="Lowest"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders">
      <?gmfgen generated="true"?>
      <IconProvider class="org.eclipse.gmf.examples.mindmap.diagram.providers.MindmapIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders">
      <?gmfgen generated="true"?>
      <ParserProvider class="org.eclipse.gmf.examples.mindmap.diagram.providers.MindmapParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.example.org/mindmap">
         <metamodelType
               id="org.eclipse.gmf.examples.mindmap.diagram.Map_79"
               name="%metatype.name.Map_79"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Map"
               edithelper="org.eclipse.gmf.examples.mindmap.diagram.edit.helpers.MapEditHelper">
            <param name="semanticHint" value="79"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.example.org/mindmap">
         <metamodelType
               id="org.eclipse.gmf.examples.mindmap.diagram.Topic_1001"
               name="%metatype.name.Topic_1001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Topic"
               edithelper="org.eclipse.gmf.examples.mindmap.diagram.edit.helpers.TopicEditHelper">
            <param name="semanticHint" value="1001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.example.org/mindmap">
         <specializationType
               id="org.eclipse.gmf.examples.mindmap.diagram.TopicSubtopics_3001"
               name="%metatype.name.TopicSubtopics_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="org.eclipse.gmf.runtime.emf.type.core.null"/>
            <param name="semanticHint" value="3001"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings">
      <?gmfgen generated="true"?>
      <clientContext id="MindmapClientContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="org.eclipse.gmf.examples.mindmap.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="MindmapClientContext">
         <elementType ref="org.eclipse.gmf.examples.mindmap.diagram.Map_79"/>
         <elementType ref="org.eclipse.gmf.examples.mindmap.diagram.Topic_1001"/>
         <elementType ref="org.eclipse.gmf.examples.mindmap.diagram.TopicSubtopics_3001"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.gmf.examples.mindmap.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="org.eclipse.gmf.examples.mindmap.diagram"
           properties="isURIEditorInput"
           class="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters">
      <?gmfgen generated="true"?>
       <propertyTester
           id="org.eclipse.gmf.examples.mindmap.diagram.DomainModelElementPropertyTester"
           type="org.eclipse.emf.ecore.EObject"
           namespace="org.eclipse.gmf.examples.mindmap.diagram"
           properties="isDomainModelElement"
           class="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDomainModelElementTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="org.eclipse.gmf.examples.mindmap.diagram.resourceContent"/>
			<contentExtension pattern="org.eclipse.gmf.examples.mindmap.diagram.domainResourceContent"/>
            <contentExtension pattern="org.eclipse.gmf.examples.mindmap.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.gmf.examples.mindmap.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="org.eclipse.gmf.examples.mindmap.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapNavigatorContentProvider" 
            labelProvider="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapNavigatorLabelProvider"
            icon="icons/obj16/MindmapDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mindmap_diagram"/>
               </and>
               <instanceof value="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="org.eclipse.gmf.examples.mindmap.diagram.navigatorSorter" 
               class="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="mindmap_diagram"/>
                  </and>
                  <instanceof value="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="org.eclipse.gmf.examples.mindmap.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapDomainNavigatorContentProvider" 
            labelProvider="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapDomainNavigatorLabelProvider"
            icon="icons/obj16/MindmapDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="mindmap"/>
               </and>
               <and>
                  <instanceof value="org.eclipse.emf.ecore.EObject"/>
                  <test property="org.eclipse.gmf.examples.mindmap.diagram.isDomainModelElement"/>
               </and>
            </or>
         </triggerPoints>
         <possibleChildren>
            <and>
       	       <instanceof value="org.eclipse.emf.ecore.EObject"/>
       	       <test property="org.eclipse.gmf.examples.mindmap.diagram.isDomainModelElement"/>
       	    </and>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="org.eclipse.gmf.examples.mindmap.diagram.navigatorActionProvider"
            class="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="org.eclipse.gmf.examples.mindmap.diagram.navigatorLinkHelper"
            class="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="org.eclipse.gmf.examples.mindmap.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="org.eclipse.gmf.examples.mindmap.diagram.navigator.MindmapAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramUpdateCommand"
         description="%update.diagram.description"
         id="org.eclipse.gmf.examples.mindmap.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings">
      <?gmfgen generated="true"?>
      <key 
         commandId="org.eclipse.gmf.examples.mindmap.diagram.updateDiagram"
         contextId="org.eclipse.gmf.examples.mindmap.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
   
   <!-- 
   Part added for Teneo tutorial
   -->
   
   <!--
   Registers the db editor
   -->
      <extension point="org.eclipse.ui.editors">
      <?gmfgen generated="true"?>
      <editor
         id="org.eclipse.gmf.examples.mindmap.diagram.part.MindmapDiagramEditorID.db"
         name="Mindmap DB Editor"
         extensions=""
         default="true"
         class="org.eclipse.gmf.examples.mindmap.diagram.db.MindmapDiagramDBEditor">
      </editor>
   </extension>
   
   <!-- 
   Adds a global menu, note is a rather simplistic method of adding a global menu option.	
   -->
   	<extension
      id="mindmap.gmf.editor.actions"
      point="org.eclipse.ui.actionSets">
   	<actionSet
         id="mindmap.gmf.editor.actions"
         label="Mindmap DB"
         visible="true">
      <menu
            id="mmMenu"
            label="Mindmap DB">
         <separator
               name="mmgroup">
         </separator>
      </menu>
      <action
            id="mindmap.teneo.gmf.action0"
            label="Open DB Editor"
            menubarPath="mmMenu/mmgroup"
            style="push">
         <class
               class="org.eclipse.gmf.examples.mindmap.diagram.db.OpenMindmapDBEditor">
         </class>
      </action>
   </actionSet>  
   </extension>
   
   
</plugin>
