<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.teneo.orm.eclipse.contribution9"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%teneo"
               path="additions"
               id="org.eclipse.emf.teneo.eclipse.teneomenu">
            <separator
                  name="group5">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.orm.eclipse.popup.actions.GenerateORMAction"
               enablesFor="+"
               id="org.eclipse.emf.teneo.orm.eclipse.generateorm"
               label="%teneo.orm.file"
               menubarPath="org.eclipse.emf.teneo.eclipse.teneomenu/group5"
               tooltip="%teneo.hbm.tooltip">
         </action>
      </objectContribution>
   </extension>
</plugin>
