<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.emf.teneo.eclipselink.common.ui.importWizards.category.teneo"
            name="%importWizards.category.teneo.name">
      </category>
   </extension>
</plugin>
