<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.activities">
      <!-- EMF Teneo Activity definition -->
      <activity
            id="org.eclipse.emf.teneo.ui.capabilities.menu"
            description="%teneo.category.desc"
            name="%teneo.category.name">
      </activity>
      
      <!-- Pattern Bindings -->
      
      <activityPatternBinding
            activityId="org.eclipse.emf.teneo.ui.capabilities.menu"
            pattern="org\.eclipse\.emf\.teneo.*">
      </activityPatternBinding>
      
      <!-- Category bindings and default enablement provided by org.eclipse.galileo -->
      
	  	<categoryActivityBinding
            activityId="org.eclipse.emf.teneo.ui.capabilities.menu"
            categoryId="org.eclipse.galileo.modeling.Category">
      </categoryActivityBinding>
      
      <defaultEnablement
            id="org.eclipse.emf.teneo.ui.capabilities.menu">
      </defaultEnablement>
	</extension>

</plugin>
