<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/04/15 21:09:34 seberle Exp $
-->

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http:///org/eclipse/emf/teneo/eclipselink/examples/library.ecore" 
       class = "org.eclipse.emf.teneo.eclipselink.examples.library.LibraryPackage"
       genModel = "model/library.genmodel" /> 
    <package 
       uri = "http:///org/eclipse/emf/teneo/eclipselink/examples/forum.ecore" 
       class = "org.eclipse.emf.teneo.eclipselink.examples.library.forum.ForumPackage"
       genModel = "model/library.genmodel" /> 
  </extension>
</plugin>
