<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2010/08/18 09:25:26 cbouhier Exp $
-->

<plugin>
	
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://hibernate.sourceforge.net/hbm30"
            class="org.eclipse.emf.teneo.db2m.hbm30.Hbm30Package"
            genModel="model/hbm30.genmodel"/>
   </extension>
	
	<extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="hbm30"
            class="org.eclipse.emf.teneo.db2m.hbm30.util.Hbm30ResourceFactoryImpl"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="xml"
            class="org.eclipse.emf.teneo.db2m.hbm30.util.Hbm30ResourceFactoryImpl"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.content_parser" >
    	<parser 
    		contentTypeIdentifier="hbm30source" 
    		class="org.eclipse.emf.teneo.db2m.hbm30.util.Hbm30ResourceFactoryImpl"/> 
  </extension>
	
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
        base-type="org.eclipse.core.runtime.xml"
        file-extensions="xml"
        file-names="*.hbm"
        id="hbm30source"
        name="HBM30ContentType"
        priority="normal">
        <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter name="element" value="{http://hibernate.sourceforge.net/hbm30}hibernate-mapping"/>
         </describer>
        </content-type>
	</extension>
	
   <extension
    	point="org.eclipse.core.contenttype.contentTypes">
  		<file-association
      		content-type="org.eclipse.emf.compare.ui.contenttype.ModelContentType"
      		file-extensions="xml"
      		file-names="*.hbm"/>
	</extension>
</plugin>
