<?xml version="1.0" encoding="utf-8"?>
<?eclipse version="3.0"?>
<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.2 2009/01/21 21:34:10 seberle Exp $
-->
<plugin>
  <extension point="org.eclipse.ui.newWizards">
    <category id="org.eclipse.emf.ecore.Wizard.category.ID"
              name="%_UI_Wizard_category" />
    <wizard id="org.eclipse.emf.teneo.eclipselink.examples.library.editor.LibraryModelWizardID"
            name="%_UI_LibraryModelWizard_label"
            class="org.eclipse.emf.teneo.eclipselink.examples.library.editor.LibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LibraryModelFile.gif">
      <description>
      %_UI_LibraryModelWizard_description</description>
      <selection class="org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard id="org.eclipse.emf.teneo.eclipselink.examples.library.forum.editor.ForumModelWizardID"
            name="%_UI_ForumModelWizard_label"
            class="org.eclipse.emf.teneo.eclipselink.examples.library.forum.editor.ForumModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ForumModelFile.gif">
      <description>%_UI_ForumModelWizard_description</description>
      <selection class="org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>
  <extension point="org.eclipse.ui.editors">
    <editor id="org.eclipse.emf.teneo.eclipselink.examples.library.editor.LibraryEditorID"
            name="%_UI_LibraryEditor_label"
            icon="icons/full/obj16/LibraryModelFile.gif"
            extensions="library, database"
            class="org.eclipse.emf.teneo.eclipselink.examples.library.editor.LibraryEditor"
            contributorClass="org.eclipse.emf.teneo.eclipselink.examples.library.editor.LibraryActionBarContributor">
    </editor>
    <editor id="org.eclipse.emf.teneo.eclipselink.examples.library.forum.editor.ForumEditorID"
            name="%_UI_ForumEditor_label"
            icon="icons/full/obj16/ForumModelFile.gif"
            extensions="forum"
            class="org.eclipse.emf.teneo.eclipselink.examples.library.forum.editor.ForumEditor"
            contributorClass="org.eclipse.emf.teneo.eclipselink.examples.library.forum.editor.ForumActionBarContributor">
    </editor>
  </extension>
</plugin>
