<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution0"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%teneo"
               path="additions"
               id="org.eclipse.emf.teneo.eclipse.teneomenu">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.GenerateHBMAction"
               enablesFor="+"
               id="org.eclipse.emf.teneo.hibernate.eclipse.generatehbm"
               label="%teneo.hbm.label.0"
               menubarPath="org.eclipse.emf.teneo.eclipse.teneomenu/group2"
               tooltip="%teneo.hbm.tooltip.0">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution1"
            nameFilter="*.ecore"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%teneo"
               path="additions"
               id="org.eclipse.emf.teneo.eclipse.teneomenu">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.GenerateHBMActionSuperClass"
               enablesFor="+"
               id="org.eclipse.emf.teneo.hibernate.eclipse.generatehbmsuperclass"
               label="%teneo.hbm.label.1"
               menubarPath="org.eclipse.emf.teneo.eclipse.teneomenu/group2"
               tooltip="%teneo.hbm.tooltip.1">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution2"
            nameFilter="*.ehb"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               label="%teneo"
               path="additions"
               id="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu">
            <separator
                  name="group2">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.OpenResource"
               enablesFor="1"
               id="org.eclipse.emf.teneo.hibernate.eclipse.openResource"
               label="%teneo.openresource.label.0"
               menubarPath="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu/group2"
               tooltip="%teneo.openresource.tooltip.0">
         </action>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution3"
            nameFilter="*.ehb"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu"
               label="%teneo"
               path="additions">
            <separator name="group4"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.ImportXMI"
               enablesFor="1"
               id="org.eclipse.emf.teneo.hibernate.eclipse.importXMI"
               label="%teneo.import.label.0"
               menubarPath="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu/group4"
               tooltip="%teneo.import.tooltip.0"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution4"
            nameFilter="*.ehb"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu"
               label="%teneo"
               path="additions">
            <separator name="group4"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.ExportXMI"
               enablesFor="1"
               id="org.eclipse.emf.teneo.hibernate.eclipse.exportXMI"
               label="%teneo.export.label.0"
               menubarPath="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu/group4"
               tooltip="%teneo.export.tooltip.0"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution5"
            nameFilter="*.ehb"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu"
               label="%teneo"
               path="additions">
            <separator name="group3"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.ImportXML"
               enablesFor="1"
               id="org.eclipse.emf.teneo.hibernate.eclipse.importXML"
               label="%teneo.import.label.1"
               menubarPath="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu/group3"
               tooltip="%teneo.import.tooltip.1"/>
      </objectContribution>
      <objectContribution
            id="org.eclipse.emf.teneo.hibernate.eclipse.contribution6"
            nameFilter="*.ehb"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu"
               label="%teneo"
               path="additions">
            <separator name="group3"/>
         </menu>
         <action
               class="org.eclipse.emf.teneo.hibernate.eclipse.ExportXML"
               enablesFor="1"
               id="org.eclipse.emf.teneo.hibernate.eclipse.exportXML"
               label="%teneo.export.label.1"
               menubarPath="org.eclipse.emf.teneo.hibernate.eclipse.teneomenu/group3"
               tooltip="%teneo.export.tooltip.1"/>
      </objectContribution>
   </extension>
</plugin>
